<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pug tute</title>
  <title>#{title}</title>

  style 
      include ../static/style.css
</head>
<body>

  <h1>Pug tute</h1>
 | #{content}
</body>
</html>